## Pokemon

### Step 1. Import the necessary libraries (pandas, numpy etc)

In [6]:
import pandas as pd

In [7]:
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [36]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [37]:
pokemon = pd.Series(raw_data) 
   
print(pokemon)

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

In [38]:
df = pd.DataFrame(raw_data, index = [0,1,2,3])

In [39]:
df

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [40]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
if (raw_data==sorted(raw_data)):
    df = df.reindex(['name', 'type', 'hp', 'evolution', 'pokedex'], axis=1)
    print(df)
else:
    print(df)

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice

In [41]:
df = df.assign(address = ['hills', 'forest', 'lakes', 'park'])

In [42]:
df

         name   evolution   type  hp pokedex address
0   Bulbasaur     Ivysaur  grass  45     yes   hills
1  Charmander  Charmeleon   fire  39      no  forest
2    Squirtle   Wartortle  water  44     yes   lakes
3    Caterpie     Metapod    bug  45      no    park

### Step 6. Display the data type of each column

In [43]:
result=df.dtypes
print(result)

name         object
evolution    object
type         object
hp            int64
pokedex      object
address      object
dtype: object